<!doctype html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>


<body>
    <title>Lung X-Ray Classifier</title>
    <h2>Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </p>
    {% if filename %}
    <div>
        <p><b>Prediction: {{ prediction }}</b></p>
    </div>
    <div>
        <img src="{{ url_for('display_image', filename=filename) }}">
    </div>
    {% endif %}

    <!-- {% if prediction %}
<div>
    <p>{{ prediction }}</p>
</div>
{% endif %} -->

    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" autocomplete="off" required>
            </p>
        </dl>

        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</body>