<!doctype html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/app.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/images/icon.ico">
</head>


<body>
    <title>Chest X-Ray Classifier</title>
    <h2>Chest X-Ray Classifier</h2>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </p>

    <div class="row">
        <!-- <div class="col empty"></div> -->

        <div class="col form left">
            <form method="post" action="/" enctype="multipart/form-data">
                <div class="cont">

                    <dl> <!-- Allows user to browse system for image to upload -->
                        <input type="file" class="filestyle" data-classButton="btn btn-primary" name="file" 
                            autocomplete="off" required>
                    </dl>

                    <p>
                        <input type="submit" value="Submit Image" class="btn btn-primary submit">
                    </p>
                </div>
                
            </form>
            {% if filename %}
            <div class="prediction"> <!-- Displaying the predicted class when it has been generated -->
                <p><b>Prediction: {{ prediction }}</b></p>
            </div>
            {% endif %}
        </div> 

        <div class="col upl-img right">
            <!-- <img src="static/files/covid-12.png"> -->
            {% if filename %}
            <img src="{{ url_for('display_image', filename=filename) }}"> <!-- Display Image after upload -->
            {% endif %}
        </div>

    </div>
</body>